{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Django Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        // Detect when the category is changed
        $('#category-select').change(function() {
          var category = $(this).val();

          // Send AJAX request to get subcategories based on the selected category
          $.ajax({
            url: "{% url 'get_subcategories' %}",
            data: {
              'category': category
            },
            dataType: 'json',
            success: function(response) {
              var subcategoryDropdown = $('#category-select-subcategory');
              subcategoryDropdown.empty(); // Clear current subcategories

              // Add a default "Select a subcategory" option
              subcategoryDropdown.append('<option value="" disabled selected>Select a subcategory</option>');

              // Add each subcategory option to the dropdown
              $.each(response.subcategories, function(index, subcategory) {
                subcategoryDropdown.append('<option value="' + subcategory.subcategory + '">' + subcategory.subcategory + '</option>');
              });
            }
          });
        });
      });
    </script>
</head>
<body>

    {% include "admin/admin_navbar.html" %}

    <main>
        {% block content %}
        <h1>Add New Product</h1>
        
        <div class="add-subcategory-form-container">
            <form id="add-product-form" action="{% url 'admin_addproduct' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              
              <label for="category-select" class="form-label-category">Category:</label>
              <select id="category-select" name="category" class="dropdown-category" required>
                <option value="" disabled selected>Select a category</option>
                {% for cat in categories %}
                    <option value="{{ cat.category }}" {% if cat.category == request.GET.category %}selected{% endif %}>{{ cat.category }}</option>
                {% endfor %}
              </select>
    
              <label for="category-select-subcategory" class="form-label-category">Sub Category:</label>
              <select id="category-select-subcategory" name="subcategory" class="dropdown-category" required>
                <option value="" disabled selected>Select a subcategory</option>
                {% for sub in subcategories %}
                    <option value="{{ sub.subcategory }}">{{ sub.subcategory }}</option>
                {% endfor %}
              </select>
    
              <label for="product-input" class="form-label-subcategory">Enter Product:</label>
              <input type="text" id="product-input" name="product" class="textbox-subcategory" placeholder="Enter product title" required />
    
              <label for="product-input" class="form-label-subcategory">Enter Product Price:</label>
              <input type="text" id="product-input" name="productprice" class="textbox-subcategory" placeholder="Enter product price" required />
    
              <label for="product-image" class="form-label-subcategory">Choose image:</label>
              <input name="image" type="file" id="product-image" class="form-control" accept="image/*" required>
    
              <button type="submit" class="button-save-subcategory">Save Product</button>
            </form>
          </div>
    

        {% endblock %}
    </main>
   
</body>
</html>