{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Django Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% include "admin/admin_navbar.html" %}

    <main>
        {% block content %}
            <section class="hero">
                <a href="{% url "admin_addsubcategory" %}">
                    <div class="hero-box">
                        <h2>Add Sub Category</h2>
                        <p>Content for Add Sub Category</p>
                    </div>
                </a>
                <a href="{% url "admin_addproduct" %}">
                    <div class="hero-box">
                        <h2>Add Product</h2>
                        <p>Content for Add Product</p>
                    </div>
                </a>
                <a href="{% url "admin_showsubcategory" %}">
                    <div class="hero-box">
                        <h2>Show Sub Category</h2>
                        <p>Content for Show Sub Category</p>
                    </div>
                </a>
                <a href="{% url "admin_showproduct" %}">
                    <div class="hero-box">
                        <h2>Show Product</h2>
                        <p>Content for Show Product</p>
                    </div>
                </a>
            </section>
        {% endblock %}
    </main>
</body>
</html>
