{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Django Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    {% include "admin/admin_navbar.html" %}

    <main>
      {% block content %}
      <table border="1">
        <tr>
          <th>Id</th>
          <th>Category</th>
          <th>Sub Category</th>
          <th colspan="2">Action</th>
        </tr>
        {% for subcategory in subcategories %}
        <tr>
          <td>{{ subcategory.id }}</td>
          <td>{{ subcategory.category }}</td>
          <td>{{ subcategory.subcategory }}</td>
          <td>
            <a href="{% url 'edit_subcategory' subcategory.id %}">Edit</a>
          </td>
          <td>
            <form action="{% url 'delete_subcategory' subcategory.id %}" method="post">
              {% csrf_token %}
              <button type="submit">Delete</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </table>

      {% endblock %}
    </main>
  </body>
</html>
