{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "swc/css/style.css" %}" >
</head>
<body>
    <div>
        {% include "swc/navbar.html" %}
    </div>

    <div class="container">
        <div class="addButton">
            <a href="{% url "addcategory" %}" class="add-icon">
                <i class="fa-solid fa-plus"></i>
            </a>
        </div>
        <table>
            <tr>
                <th>Category Name</th>
                <th colspan="2">Action</th>
            </tr>
            {% for category in categories %}
                <tr>
                    <td>{{category.category}}</td>
                    <td><a href=""><i class="fa-solid fa-pen-to-square"></i></a></td>
                    <td>
                        <a href="{% url 'deletecategory' category.id %}" onclick="return confirm('Are you sure you want to delete this category?')">
                            <i class="fa-solid fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}            
        </table>
    </div>

    <script src="{% static "swc/js/script.css" %}"></script>
</body>
</html>