{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Django Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>

    {% if user_email %}
        <p>Welcome, {{ user_email }}! You are logged in.</p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    {% else %}
        <p>You are not logged in. Please <a href="{% url 'login' %}">login</a>.</p>
    {% endif %}


    {% include 'admin_panel/navbar.html' %}

    <main>
      {% block content %}
      <div class="add-subcategory-form-container">
        <form id="add-subcategory-form" action="{% url "addsubcategory" %}" method="POST">
          {% csrf_token %}
          <label for="category-select" class="form-label-category"
            >Category:</label
          >
          <select id="category-select" name="category" class="dropdown-category" required>
            <option value="" disabled selected>Select a category</option>
            <option value="men">Men</option>
            <option value="women">Women</option>
            <option value="children">Children</option>
          </select>

          <label for="subcategory-input" class="form-label-subcategory"
            >Enter Subcategory:</label
          >
          <input
            type="text"
            id="subcategory-input"
            name="subcategory"
            class="textbox-subcategory"
            placeholder="Enter subcategory"
            required
          />

          <button type="submit" class="button-save-subcategory">Save</button>
        </form>
      </div>

      {% if success %}
        <div id="success-modal" class="success-modal">
            <p>Subcategory added successfully!</p>
        </div>
      {% endif %}

      {% endblock %}
    </main>

    {% include 'admin_panel/footer.html' %}
  </body>
</html>
