{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
  </head>
  <body>
    <div class="container">
      <h1>Login</h1>
      <form id="loginForm" method="POST">
        {% csrf_token %}
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Email"
          required
        />
        <div id="emailError" class="error"></div>

        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          required
        />
        <div id="passwordError" class="error"></div>

        <button type="submit">Login</button>
        {% comment %} Go Back? <a href="{% url 'index' %}">Home</a> {% endcomment %}
      </form>
    </div>

    <script src="{% static "js/script.js" %}"></script>
  </body>
</html>
