{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Django Project</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>

  {% include 'admin_panel/navbar.html' %}

  {% if user_email %}
        <p>Welcome, {{ user_email }}! You are logged in.</p>
    {% endif %}

    <main>
        {% block content %}
        <table border='1'>
          <tr>
            <th>Category</th>
            <th>Sub Category</th>
            <th colspan="2">Action</th>
          </tr>
          {% for item in category %}
        <tr>
            <td>{{ item.category }}</td>
            <td>{{ item.subcategory }}</td>
            <td>
							<a href="../edit-subcategory-{{forloop.counter}}" class="edit" data-toggle="modal">Edit</a>
							{% comment %} <a href="#deleteEmployeeModal-{{forloop.counter}}" class="delete" data-toggle="modal">Delete</a> {% endcomment %}
						</td>
        </tr>
        {% endfor %}


        </table>
        {% endblock %}
    </main>

    {% include 'admin_panel/footer.html' %}

</body>
</html>
