<nav class="navbar">
  <div class="logo"><a href="{% url 'home' %}">Shop With Cheap</a></div>
  <ul class="nav-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      {% for category, subcategories in categories.items %}
      <li class="dropdown">
          <a href="{% url 'searchproducts' %}?category={{ category }}">{{ category }}</a>
          <div class="dropdown-content">
              {% for subcategory in subcategories %}
              <a href="{% url 'searchproducts' %}?category={{ category }}&subcategory={{ subcategory }}" 
                 class="{% if subcategory == selected_subcategory %} active {% endif %}">
                 {{ subcategory }}
              </a>
              {% endfor %}
          </div>
      </li>
      {% endfor %}
      <li><a href="#">About</a></li>
      <li><a href="{% url 'contact' %}">Contact</a></li>
      <li><a href="{% url 'login' %}">Login</a></li>
  </ul>
</nav>