@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 10px 5%;
  z-index: 999;
  background-color: #141d28;
  color: white;
  width: 100vw;
  position: fixed;
}

nav h1 a {
  margin: 0;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

#cross,
#bar {
  font-size: 2rem;
  display: none;
  cursor: pointer;
  color: white;
  position: absolute;
  right: 20px;
}

@media (max-width: 1200px) {
  nav ul {
    display: none;
    flex-direction: column;
    gap: 10px;
    background-color: #141d28;
    position: absolute;
    top: 80px;
    right: 0;
    padding: 10px;
    width: 200px;
    border-radius: 5px;
  }

  nav ul.show-menu {
    display: flex;
  }

  #bar {
    display: block;
  }
}

.form-container .center-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 200px;
}

.form-container .center-div form {
  width: 600px;
  /* max-width: 600px; */
  /* min-width: 300px; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px 0;
  gap: 20px;
  background-color: gainsboro;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.form-container .center-div form h2 {
  text-decoration: underline;
  color: #141d28;
  font-size: 2rem;
}

.form-container .center-div form .input-field {
  display: flex;
  flex-direction: column;
  color: #141d28;
  flex-wrap: wrap;
}

.form-container .center-div form .input-field label,
.form-container .center-div form .input-field input,
.form-container .center-div form .input-field select,
.form-container .center-div form .input-field textarea {
  font-size: 1.5rem;
  padding: 5px;
  min-width: 500px;
}

.form-container .center-div form button {
  padding: 10px;
  background-color: #141d28;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-container .center-div form a {
  display: flex;
  text-align: center;
  color: #141d28;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
}

.container {
  padding-top: 120px;
  margin: 0 auto;
  width: 80%;
  /* max-width: 1200px; */
  background: #fff;
  padding-bottom: 200px;
  border-radius: 10px;
}

.addButton {
  /* margin-bottom: 20px; */
  margin-left: -100px;
  text-align: right;
  position: fixed;
}

.addButton .add-icon {
  display: inline-block;
  text-decoration: none;
  background-color: #141d28; 
  color: white; 
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  transition: all 0.3s ease;
}

.addButton .add-icon:hover {
  background-color: #1d2735;
  transform: scale(1.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
}

table th {
  background-color: #141d28;
  color: white;
  text-transform: uppercase;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

table a {
  text-decoration: none;
  color: #141d28;
}

table a:hover {
  text-decoration: underline;
}

.fa-pen-to-square {
  color: green;
  font-size: 1.5rem;
}
.fa-trash {
  color: red;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}


/* .container {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container table {
  padding: 20px;
  border: none;
}

table:first-child() {
  background-color: gray;
}

table th {
  font-size: 1.5rem;
}

.addButton {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #141d28;
  border-radius: 5px;
  position: relative;
}

.addButton a i {
  color: #fff;
  font-size: 2rem;
} */