{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/client_style.css' %}">
</head>
<body>

    <!-- Navbar -->
    {% include "client/navbar.html" %}
    <div style="margin-top:80px;">
    </div>
    <main>
        <h1>Contact Us</h1>
        <form method="POST" action="{% url "contact" %}">
            {% csrf_token %}
            {% comment %} name, email, mobile, message {% endcomment %}
            <input type="text" name="uname" placeholder="Enter your name" required />
            <input type="email" name="email" placeholder="Enter your name" required />
            <input type="mobile" name="mobile" placeholder="Enter your name" required />
            <textarea name="message" required></textarea>
            <input type="submit" value="Submit" />
            
        </form>
    </main>

    <!-- footer -->
     {% include "client/footer.html" %}
</body>
</html>