{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="{% static 'css/client_style.css' %}">
</head>
<body>

    <!-- Navbar -->
    {% include "client/navbar.html" %}
    <div style="margin-top:80px;">
    </div>
    <main>
        <h1>Contact us
    </main>

    <!-- footer -->
     {% include "client/footer.html" %}
</body>
</html>