{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop With Cheap</title>
    <link rel="stylesheet" href="{% static 'client/css/style.css' %}">
</head>
<body>
    {% include "client/navbar.html" %}
    {% comment %} {% include "client/slider.html" %} {% endcomment %}
    
    <section class="product-section">
        {% for product in products %}
        <div class="product-card">
            <img src="{% static product.image %}" alt="{{ product.product }}" >
            <h3>{{product.name}}</h3>
            <p>{{product.description}}</p>
            <div class="price">${{product.price}}</div>
            <div class="icons">
                <a href="{% url 'product_detail' product.id %}">
                    <button>View Details</button>
                </a>                    
            </div>
        </div>
        {% endfor %}
    </section>

    {% include "client/footer.html" %}
    <script src="{% static 'client/js/script.js' %}"></script>
</body>
</html>
