{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Simple Django Project</title>
    <link rel="stylesheet" href="{% static 'css/client_style.css' %}">
</head>
<body>

    {% include "client/navbar.html" %}

    <main style="margin-top:100px;">
        <div class="login-container">
            <h2>Login</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
    </main>

</body>
</html>
