<header>
  <!-- navbar.html -->
  <nav class="navbar">
    <div class="logo"><a href='#'>Logo</a></div>
    <ul class="nav-links">
      {% for category, subcategories in categories.items %}
      <li>
        <a href="{% url 'search_products' %}?category={{ category }}">{{ category }}</a>
        <div class="dropdown">
          {% for subcategory in subcategories %}
          <a href="{% url 'search_products' %}?category={{ category }}&subcategory={{ subcategory }}">{{ subcategory }}</a>
          {% endfor %}
        </div>
      </li>
      {% endfor %}
      {% comment %} {% for category, subcategories in categories.items %}
      <li>
        <a href="#">{{ category }}</a>
        <div class="dropdown">
          {% for subcategory in subcategories %}
          <a href="#">{{ subcategory }}</a>
          {% endfor %}
        </div>
      </li>
      {% endfor %} {% endcomment %}
      <li><a href='{% url "about" %}'>About</a></li>
      <li><a href='{% url "contact" %}'>Contact</a></li>
    </ul>
    <div class="auth-buttons">
        {% if request.session.user_email %}
          <!-- If the user is logged in, display the logout button -->
          <a href="{% url 'logout' %}">
            <button class="logout">Logout</button>
          </a>
        {% else %}
          <!-- If the user is not logged in, display login and signup buttons -->
          <a href="{% url 'signup' %}">
            <button class="signup">Signup</button>
          </a>
          <a href="{% url 'login' %}">
            <button class="signin">Signin</button>
          </a>
        {% endif %}
      </div>
  </nav>
</header>
