{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Searched Products</title>
    <link rel="stylesheet" href="{% static 'css/client_style.css' %}">
</head>
<body>

    <!-- Navbar -->
    {% include "client/navbar.html" %}

    <div style="margin-top:80px;">
        <h1>Filtered Products</h1>
    </div>

    <main>
        <div class="product-grid">
            {% if products %}
                {% for product in products %}
                    <div class="product-item">
                        <img src="{{ product.image }}" alt="{{ product.title }}">
                        <h3>{{ product.title }}</h3>
                        <p>Price: ${{ product.price }}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>No products found for the selected category or subcategory.</p>
            {% endif %}
        </div>
    </main>

    <!-- Footer -->
    {% include "client/footer.html" %}
</body>
</html>
